.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: var(--spacing-md);
  height: 6rem;
  gap: var(--spacing-md);
}

.container:hover {
  background-color: #f5f5f5;
}

.info {
  flex: 1;
}

.name {
  margin: 0;
  font-size: 1.1rem;
}

.description {
  margin: 0.5rem 0 0;
  color: #666;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.stats {
  display: flex;
  gap: 1rem;
}

.stat {
  color: #666;
  font-size: 0.9rem;
} 