.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  width: 70%;
} 

@media (max-width: 600px) {
  .card {
    padding: 2rem 1rem;
    width: 100%;
  }
}