.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--foreground);
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: var(--color-primary-highlight);
  transform: translateY(-2px);
} 